<h1 class="about_title">About Cloud Radio</h1><br>
<h4 class="about_content" style="color:red">A smart Radio created by <em style="color:black">Yiyang Song</em>, You can play with it by clicking "Heart" button. The app will store your style and bring more of similar styles next time. Also, you can change your styles manually, it looks coooooool! </h4><br><br>

<p style="color:grey"><em>Contact me if you like it...</em></p>
<h4><em>Name</em>:  Yiyang Song</h4>
<h4><em>Email</em>:  songyiyang2012@gmail.com</h4>
<h4><em>Phone</em>:  352-284-6481</h4>
<h4><em>Address</em>:  101 Main Street, Cambridge, MA </h4>
